<h1>Cars</h1>
<div class="cars-container">
        <div class="car-container">
            <section>
                <a href="/cars/edit/5b1d074d45e81335e84af258">
                    <img src="https://article.images.consumerreports.org/prod/content/dam/CRO%20Images%202017/Magazine-Articles/April/CR-Inline-top-picks-Toyota-Yaris-02-17" alt='car-image' />    
                </a>           
            </section>
            <section class="info">
                <strong>Toyota</strong>
                <span class="rented">rented: 
                    <strong>1</strong>
                </span>
            </section>
        </div>
</div>