doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title All Books
    link(rel="stylesheet" type="text/css" href="/static/css/main.css")
body
    header
        div.inner
            nav
                a.logo(href="/")
                    img.logo(src="/static/images/expressjs-card.png" alt="expressLogo")
                input#nav(type="checkbox")
                label(for="nav")
                ul
                    li
                        a(href="/addBook") Add Book
                    li
                        a(href="/viewAllBooks") View All Books
    h1 Here are your books
    div.container
        if books.length !== 0
            each book in books
                div.book
                    a(href="details/"+book._id)
                        img.bookPoster(src=book.src)
        else
            h2(style="text-align:center")  There are no books in your collection!